@media(max-width: 1100px){
    .map-div{
        width: 85%;
    }
}
@media(max-width: 1024px){
    .navigation{
        display: none;
    }
    .burger-bar{
        display: flex;
        color: white;
    }
    .about-us{
        margin-left: 25px;
    }
}

