@media(max-width: 1100px){
    .map-div{
        width: 85%;
    }
}
@media(max-width: 1024px){
    .navigation{
        display: none;
    }
    .burger-bar{
        display: flex;
        color: white;
    }
    .about-us{
        margin-left: 25px;
    }
    .contact{
        flex-wrap: nowrap;
        width: 85%;
    }
    .form-elements{
        flex-wrap: wrap;
        width: 85%;
    }

    .form-divs{
        width: 95%;
        flex-wrap: wrap;
    }

    .text-area{
        width: 95%;
    }
    .input-box{
        width: 85%;
        margin-top: 20px;
    }

    .button{
        width: 85%;
    }

    .h2{
        width: 70%;
    }
    .contact-icons{
        flex-wrap: wrap;
        width: 40%;
        margin-left: 10%;
        margin-top: 380px;   
    }

    .img-div{
        flex-wrap: wrap;
        width: 50%;
        margin-left: 30px;
    }

    .see{
        flex-wrap: wrap;
        width: 85%;
        margin-left: 30px;     
    }
    .photos{
        margin-left: 30px;
    }
   
    .div-images{
     width: 100%;
    } 

}

