.bg-img{
    background-image: url('../images/bg-img.png');
}
.navigation-block{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-family: 'Poppins';
}

.nav-text{
    color: white;
}

.nav-ul{
    display: flex;
    width: 500px;
    justify-content: space-between;
    font-size: 12px;       
}

.nav-text{
    color: white;
}

.fa-angles-down{
    color: white;
}

.bg-img{
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 324px;
    background-image:url('../images/bg-img.png');
}

.burger-bar{
    display: none;
}

.About-text{
    font-size: 42px;
    font-weight: bold;
    color: white;
}
.small-about-text{
    margin-top: 14px;
    color: white;
}

.About-text2{
    color: white;
    font-size: 14px;
}

.about-us{
    display: flex;
    flex-direction: column; 
    width: 195px;
    height: 60px;
    color: white;
    margin-top: 95px;
    margin-left: 140px;    
}

.map-div{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1088px;
    width: 100%;
    height: 286px;
}

.map{
    width: 100%;
    height: 100%;
}


.input-box{
    width: 352px;
    height: 60px;
    background: #F8F8F8;
    margin-bottom: 16px;
    border: green;
} 
.send-box{
    max-width: 352px;
    width: 100%;
    height: 60px;
    background: #5863F8;
 } 

.button{
    max-width: 352px;
    width: 100%;
    height: 60px;
    background: #5863F8;
    font-size: 14px;
    border: none;
    color: white;
} 

.input-box::placeholder{
    color: #CECECE;
    font-size: 14px;
    
}

.text-area{
    background: #F8F8F8;
    width: 720px;
    height: 288px;
    font-size: 14px;
    color: #CECECE;
}

.text-area-div{
    max-width: 720px;
    width: 100%;
    height: 288px;
    margin-right: 10px;
}

.form-divs{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1088px;
    height: 288px;
}

.contact{
    width: 1088px;
    height: 465px;
    margin: 0 auto;
    margin-top: 56px;
    background: yellow;
}

.h2{
   font-size: 42px;
   font-style: bolder;
   width: 350px;
   margin-bottom: 50px;
   font-weight: bolder;
}

.h4{
    color: #5863F8;
    font-size: 14px;
    font-weight: bolder;
}

.form-elements{
    max-width: 1088px;
    width: 100%;
}